<main class="">
  <div class="mdl-grid">

    <div class=" mdl-card mdl-shadow--16dp mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
      <div class="mdl-card__title mdl-color--teal-A700">
        <h1 class="mdl-card__title-text">Grid</h1>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Card in grid cell</p>
      </div>
    </div>

    <div class="mdl-card mdl-cell mdl-shadow--16dp mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title mdl-color--teal-A700">
        <h1 class="mdl-card__title-text">Grid</h1>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Card in grid cell</p>
      </div>
    </div>

    <div class="mdl-card mdl-cell mdl-shadow--16dp mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__title mdl-color--teal-A700">
        <h1 class="mdl-card__title-text">Grid</h1>
      </div>
      <div class="mdl-card__supporting-text">
        <p>Card in grid cell</p>
      </div>
    </div>
  </div>
</main>
